@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
html {
  scroll-behavior: smooth;
  font-size: 62.5%;
}
/* scroll bar */
::-webkit-scrollbar {
  width: 0.8rem;
}
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
::-webkit-scrollbar-thumb {
  background: #a2bcfa;
}
::-webkit-scrollbar-thumb:hover {
  background: #739cf5;
}
/* Horizontal scrollbar */
::-webkit-scrollbar:horizontal {
  height: 0.6rem;
  
}
::-webkit-scrollbar-track:horizontal {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
}

.rotate {
  transition: transform 1.2s ease-in-out;

  /* transform: rotate(0deg); */
}
.rotate:hover {
  transform: rotate(180deg);
}

/* -----------TAsk cursor -------------- */
[data-rbd-drag-handle-context-id="5"] {
  cursor: default!important;
}

.assignee-list-scroll::-webkit-scrollbar {
  width: 0.5rem;
}
